/* Custom CSS for the Task */

img.starMachine {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img.tutorialKeys {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.continuePrompt {
  font-size: 18px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* body {
    background-image: url("../assets/starMachineA.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35% 60%; /*width x height */

} */
